{
    "presets": [
        ["@babel/preset-env",
            {
              "targets": {
               "node": "current"
              }
            }
        ]
    ]
}

// {
//     "presets": ["es2015", "stage-2"]
//   }