body {
  margin: 54px 0 0 0;
  height: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  font-family: comic Sans MS;
}

*:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
.approve1 {
  padding: 5px;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(32, 166, 255);
  color: rgb(32, 166, 255);
  margin-top: 10px;
}
#setting {
  height: 20px;
  width: 20px;
}

.support {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 350px;
}
/* modal style  */
.modal,
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
}
.modal-content p{
  padding: 40px;
    text-align: center;
    font-size: 20px;
}
.modal-content4 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0px 0px 20px 0px;
  border: 1px solid #888;
  width: 40%;
}
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content1,
.modal-content2 .modal-content4 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0px;
  border: 1px solid #888;
  width: 40%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close1:hover,
.close2,
.close:focus,
.close1:focus .close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content1,
.modal-content4 p {
  padding: 40px;
  text-align: center;
  font-size: 20px;
}
.close1,
.close2 {
  color: #aaa;
  float: right;
  font-size: 40px;
  margin-right: 20px;
  font-weight: bold;
}
/* modal style */
#comment {
  height: 50px;
  display: flex;
}
#comment img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  padding: 4px;
}
#publish1 {
  border: 1px solid grey;
}
#freinds {
  border-radius: 0;
}
.inputImg {
  position: relative;
}
.inpt-img {
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 75%;
  display: flex;
  flex-direction: row;
}
#inpt img {
  height: 25px;
  width: 25px;
  margin-top: 8px;
  margin-right: 0px;
}
#social {
  display: inline;
  margin-left: 30px;
}
.banner-header {
  display: flex;
  /* flex-basis: auto; */
  flex-direction: column;
}
.myheader {
  display: flex;
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  background-color: #2c3e50;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.search {
  position: relative;
}
form {
  flex-grow: 3;
  position: relative;
  margin-right: 10px;
}
#imgSearch {
  flex-grow: 3;
  position: relative;
  align-content: center;
}

form input {
  width: 100%;
  height: 30px;
  padding: 0.5em;
  border-radius: 25px;
  margin-top: 10px;
  text-align: center;
  border: 0px solid transparent;
  border: 1px solid;
  display: flex;
}
#publish2 {
  border-color: grey;
  height: 95px;
  width: 96%;
  padding: 0.5em;
  border-radius: 25px;
  margin-top: 10px;
  text-align: center;
  border: 0px solid transparent;
  border: 1px solid;
  display: flex;
}
#alarm,
#heart,
#switch,
#notification {
  padding-top: 10px;
}
.title1 span p {
  font-size: 16px;
  padding: 0px;
  float: right;
  /* text-align: center; */
}

.notify {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: -1px 0.8em;
  margin-right: 0.5em;
}

.notify img {
  height: 30px;
  width: 30px;
}
.myTitle {
  justify-content: space-around;
  /* flex-grow: 1; */
  font-size: 2em;
  padding: 10px 0.5em;
  font-family: inherit;
  color: white;
  font-weight: bolder;
  border-bottom: 2px solid white;
}
.imgContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px 0.8em;
}
/* #switch {
    display: inline-flex;
    margin-right: 10px;
} */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;
}
.dropb {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown {
  /* position: relative;
  display: inline-block; */
  position: relative; 
  display: inline-block; 
  outline: none;
}
.myComment {
  display: flex;
  flex-direction: row;
}
.myComment1 {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}
.typecomment {
  margin-top: 20px;
  margin-left: 10px;
  height: 30px;
  width: auto;
  background-color: #f2f3f5;
  border-radius: 50px;
  padding: 5px;
}
.typecomment1 {
  margin-top: 5px;
  margin-left: 10px;
  height: 30px;
  width: auto;
  background-color: none;
  border-radius: 50px;
  padding: 5px;
}

.typecomment a {
  color: #3498db;
  text-decoration: none;
  margin-right: 5px;
}
.typecomment1 a {
  color: #3498db;
  text-decoration: none;
  margin-right: 5px;
}
.suggest a {
  color: #3498db;
  text-decoration: none;
  margin-right: 5px;
}
.suggest {
  margin-left: 70px;
}
.myComment img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
}
.myComment1 img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
}

.textuser {
  font-size: 15px;
  display: inline-block;
}
.timer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.social p{
  font-size: 18px;
}
.status-content{
  font-size: 16px;
}
.names9{
  margin: 20px 7px 10px 10px;
}
.names99{
  margin: 20px 123px 10px 10px;
}
.online9{
  margin: 30px 7px 10px 10px;
}
.names8{
  margin: 20px 7px 10px 10px;
}
.names88{
  margin: 20px 129px 10px 10px;
}
.online8{
  margin: 30px 7px 10px 10px;
}
.names7{
  margin: 20px 7px 10px 10px;
}
.names77{
  margin: 20px 142px 10px 10px;
}
.online7{
  margin: 30px 7px 10px 10px;
}
.names6{
  margin: 20px 7px 10px 10px;
}
.names66{
  margin: 20px 117px 10px 10px;
}
.online6{
  margin: 30px 7px 10px 10px;
}
.names5{
  margin: 20px 7px 10px 10px;
}
.names55{
  margin: 20px 115px 10px 10px;
}
.online5{
  margin: 30px 7px 10px 10px;
}
.names4{
  margin: 20px 7px 10px 10px;
}
.names44{
  margin: 20px 103px 10px 10px;
}
.online4{
  margin: 30px 7px 10px 10px;
}
.names3{
  margin: 20px 7px 10px 10px;
}
.names33{
  margin: 20px 117px 10px 10px;
}
.online3{
  margin: 30px 7px 10px 10px;
}
.names p {
  line-height: 0.5;
  margin-left: 2px;
  text-align: center;
  font-weight: bolder;
  color: grey;
}
.online2{
  margin: 30px 7px 10px 10px;
}
.names22{
  margin: 20px 142px 10px 10px;
}
.online1{
  margin: 30px 7px 10px 10px;
}
.names2{
  margin: 20px 7px 10px 10px;
}
.names1{
  margin: 20px 7px 10px 10px;
}
.names11{
  margin: 20px 110px 10px 10px;
}

.add button {
  margin-left: 10px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(32, 166, 255);
  color: rgb(32, 166, 255);
}
.add img {
  height: 70px;
  width: 70px;
  margin-right: 10px;
  border-radius: 50%;
}
#content b {
  font-size: 20px;
  text-align: center;
  margin-left: 50px;
}
.menu {
  display: grid;
  width: -webkit-fill-available;
}
#card-menu {
  padding: 20px;
}
.menu-cont {
  display: inline-flex;
}
.menu-cont img {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  padding-top: 5px;
}
.menu-cont span {
  font-size: 17px;
  line-height: 2;
  cursor: pointer;
}
/* .show {
  display:block;
} */
.barmenu {
  background-size: cover;
  width: 100%;
  height: 45px;
  border: 1px solid;
  /* position: absolute; */
  top: 37.2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #34495e;
  padding-top: 0px;
}
.barmenu ul {
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  background: #2c3e50;
  height: inherit;
  margin-right: 0px;
  padding: 0;
  margin-left: inherit;
  margin-top: auto;
}
.notification img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 5px;
}

.logo img {
  height: 30px;
  width: 30px;
  align-content: center;
  margin-left: 50px;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}
.logo {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profname {
  position: absolute;
  top: 25%;
  left: 19%;
  font-size: 32px;
  color: white;
  font-weight: 2em;
  line-height: 0;
  font-weight: lighter;
}
.barmenu ul a {
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
  color: white;
  padding: 0px 50px 15px 15px;
  border: none;
  /* border: 1px solid white; */
}
li a:hover {
  color: black;
  background-color: white;
  border-bottom: darkslategray;
}
#imgField img {
  height: 20px;
  width: 20px;
  left: 92%;
  position: absolute;
  top: 11%;
}
#bar {
  position: relative;
}

.banner {
  background-image: url("../images/banner3.jpg");
  width: 100%;
  height: 31vh;
  margin-top: 0%;
  /* margin-bottom: 100px; */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid white;
}
.profilepic {
  background-image: url(../images/images2.png);
  height: 200px;
  width: 200px;
  position: absolute;
  top: 17%;
  left: 5%;
  border-radius: 50%;
}
.main_div {
  background-color: white;
  transition: margin-left 0.5s;
  padding: 30px 2px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card1 {
  position: relative;
  width: 480px;
  /* height: 300px; */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 0.8em;
}
.card2 {
  position: relative;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 0.8em;
}
.carte {
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 0.8em;
  left: 4%;
}
.carte1 {
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 0.8em;
  left: 4%;
}

.card3 {
  position: relative;
  width: 408px;
  /* height: 300px; */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 0.8em;
  margin-bottom: 20px;
}
.card1 .card-header1 {
  padding: 1.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card2 .card-header2 {
  widows: 100%;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card3 .card-header3 {
  widows: 100%;
  padding: -0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card1 .card-body1 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.8em;
  justify-content: center;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.aside img {
  width: 65%;
}
.card2 .card-body2 {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.card3 .card-body3 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0.8em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#people {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.bord {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  /* justify-content: space-between; */
}
.online {
  background-color: green;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 20px;
  float: right;
}

.card3 .align-col {
  display: grid;
  /* flex-direction: column; */
  position: relative;
}
.card-footer {
  padding: 5px 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
#lastbtn {
  padding: 5px 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
.more {
  padding: 5px 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-footer2 {
  padding: 5px 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-footer button,
.card-footer2 button,
.cancel,
.confirm {
  margin-left: 10px;
  width: 230px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(32, 166, 255);
  color: rgb(32, 166, 255);
}
.social p {
  text-align: center;
  font-weight: bolder;
  font-size: 14px;
}
.social {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.infos {
  position: relative;
  width: 100%;
  padding: 5px;
}
.separator {
  width: inherit;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.first-element {
  margin-bottom: 20px;
}
#info {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
#love {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
.client {
  position: relative;
  width: 100%;
}

#post-element,
#left-side,
#right-side {
  display: block;
}
#left-card {
  width: 250px;
}
#publish {
  border-color: grey;
  height: 95px;
  width: 96%;
}
#bodyShare {
  padding: 15px;
}
#status-content {
  margin-top: 10px;
}
#pub {
  padding: 0px;
}
.status2 h3 {
  padding: 0px;
}
.display {
  display: inline-block;
  position: relative;
}
#space {
  margin-bottom: 50px;
}
#space1 {
  margin-bottom: -1px;
  margin-top: -1px;
  right: -19px;
  left: -2px;
}
#space2 {
  margin-bottom: -1px;
  margin-top: -1px;
  right: -19px;
  left: -2px;
}

/* .drop-content {
  z-index: 1;
  display: none; 
  position: absolute; 
  background-color: #f9f9f9; 
  min-width: 140px; 
  overflow: auto; 
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
} */
.drop-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop {
  background-color: #3498db;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;
}
/* try */
#drop-cont,#drop-cont1,#drop-cont2{
  z-index: 1;
  display: none; 
  position: absolute; 
  background-color: #f9f9f9; 
  min-width: 140px; 
  overflow: auto; 
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
}

#drop-cont.show{
  display: block;
}
#drop-cont1.show,#drop-cont2.show{
  display: none;
}


/* try */
.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.drop-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.drop-content a:hover {
  background-color: #ddd;
}
.drop-content1 a:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 690px) {
  .banner {
    background-image: url(../images/banner3.jpg);
    width: 100%;
    height: 31vh;
    margin-top: 0%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid white;
  }
}
@media only screen and (max-width: 1333px) {
  .profilepic {
    background-image: url(../images/images2.png);
    height: 182px;
    width: 182px;
    position: absolute;
    top: 8%;
    left: 5%;
    border-radius: 50%;
  }
  .profname {
    position: absolute;
    top: 25%;
    left: 3%;
    font-size: 32px;
    color: white;
    font-weight: 2em;
    line-height: 0;
    font-weight: lighter;
  }
}

@media only screen and (max-width: 778px) {
  .card3 {
    position: relative;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-family: inherit;
    font-size: 12px;
    margin-bottom: 0.8em;
    margin-right: 5px;
  }
  .add img {
    height: 70px;
    width: 70px;
    margin-right: 40px;
    border-radius: 50%;
    background: 1px solid bblue;
  }

  .myleft {
    display: contents;
  }
  .profilepic {
    background-image: url(../images/images2.png);
    height: 154px;
    width: 154px;
    position: absolute;
    top: 17%;
    left: 1%;
    border-radius: 50%;
  }
  .profname {
    position: absolute;
    top: 24%;
    left: 25%;
    font-size: 32px;
    color: white;
    font-weight: 2em;
    line-height: 0;
    font-weight: lighter;
  }
}
@media only screen and (max-width: 670px) {
  .barmenu {
    background-size: cover;
    width: 100%;
    height: 40px;
    border: 1px solid;
    /* position: absolute; */
    top: 37.2%;
    display: block;
    background-color: #34495e;
    padding-top: 0px;
  }
}
